Long common name of client certificate causes authentication process to fail

### Current Behavior

The common name is included in the auth URL state parameter. Due to the length limit of the auth URL that the application can pass over the management channel to the OpenVPN server longer common names make the auth process fail.

### Expected Behavior

The application documentation states limitation in the length of the common name.
The application offers an option to not add the common name to the state parameter, effectively preventing use of the common name further on in the authentication process. Use of for example the preferred_username from the token claims might then have to be enforced.

### Steps To Reproduce

```Markdown
1. Create a client certificate with a long common name.
2. Try to authenticate using the new client certificate.
```


### Environment

- openvpn-auth-oauth2 Version: 1.11.0
- OpenVPN Server Version: 2.6.7
- Server OS: Ubuntu
- OpenVPN Client (flavor, OS): Viscosity, MacOS


### Anything else?

_No response_

What did you think about an option like `--openvpn.hash-common-name`?

Put the common-name as sha1 into the state URL and on verification step, `preferred_username` is hashed first, then compare against hashed common name.

Is this a option for you?

In my case the common name currently does not match the preferred_username, so I don't need the CN at all. But in case this check can be optionally enabled that would of course be fine. I'm not entirely sure that a SHA1 hash wouldn't be too long though. I used a CN of 42 characters for testing and that was too long, I believe SHA1 would be 40 characters.

I decided to drop hashing. MD5/SHA1 are considered as insecure. Using them trigger some security scans... SHA2 has to long hashes. 

However, #74 add the option to omit the CN.

Thanks again for the quick response. Your fix is quite nice, though I would like to request one change. Currently you are replacing the common name with the string "omit", which is encoded after being put in the token and results in `\u003comit\u003e`. This is still quite a lot of characters and I'm still running into an issue with the length of the URL, depending on the size of the state param after encryption. Would it be possible to simply omit the whole `cn` property in the token instead? This would leave the most characters for the rest of the URL (mostly origin).

It seems my current issue is caused by the client I'm using, since I seem to be limited to 236 total length of the URL. After that Viscosity seems to be removing characters at the end before loading the URL in their webview. However, I think that it would be beneficial if more space is available for the origin in the URL in either case.

Is `-`as alternative ok?

Assuming it will be one character in the `cn` field I think it should work for my case, as I seem to run into issues as soon as the common name goes over around 12 characters (assuming maximum size of the `ip` field).

I do think the ideal solution would be to just omit the whole `cn` property altogether, because this gives the most flexibility in URL length. I understand this is probably a lot more effort to do though, so I understand if you prefer to just stick to the current workaround.

> I see that this is very limited, I will looked into the to reduce the size of the state. (Currently its encrypted json). It's the only way to trans infos from the VPN client to the web stack. I would like to avoid to setup an state in openvpn-auth-oauth2.

Yes, I also think that keeping it stateless (and therefore less complex and error prone) is preferable. If you could release your proposed change (using `-` instead of `<omit>`) that would already help me a lot, because it will reduce the full length of my URL below the limit. I think any other changes to reduce the state size will require a lot more effort.

Thanks for all the effort, I really appreciate it.

@ncroese 

With #78 I could optimize the state length to an minimum by avoid using json and store the values only. On top, the issued timestamp was stores with NanoSecond which costs some chars, too. Using second is good enough. Feel free to test.

Hello. I know this is already closed but trying to understand rationale of hashing- while RFC doesn't impose any limitation on Common Name length the
> RFC 5280 Section 4.1.2.6 defers to X.501
> According to ITU-T X.520 (2019) §6.2, which defines attribute types like Common Name:
CommonName ::= DirectoryString (SIZE (1..64)

So the maximum length of the Common Name is 64 characters. This is not really far from 40 bytes size of SHA1 hash 
[here](https://github.com/jkroepke/openvpn-auth-oauth2/blob/d491d9348ba068b44213ac8db568d20785d19320/internal/utils/common_name.go#L18).
So given the fact we are saving 24 bytes in worst case ( CN at the edge of RFC limits) shouldn't we focus on the other parts of string filling 256 bytes buffer ? 

Also shouldn't we leave full URL logging for Web Application Firewall while only putting in 'reason field' the important authentication details (who, when, how) and only reference (hash?) to full URL which then can be matched with its full version on WAF?